.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 60px; /* penting untuk hitungan hero */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0077ff;
}

/* BURGER */
.burger {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;

    background: white;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    transform: translateX(100%);
    transition: 0.3s;
  }

  .nav-links.active {
    transform: translateX(0);
  }
}