/* RESET TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HAPUS MARGIN BAWAAN */
body {
  margin: 0;
}

/* HAPUS PADDING VITE */
#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}